.about-img{
    background: url("../../assest/images/about.jpg");
    height: 200px;
    text-align: center;
    color: white;
    position: relative;
  .about-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h2{
        color: white;
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
  }
}

.para-2{
  border-left: 3px solid #e6e6e6;
  margin-left: 20px;
  color: #888888 !important;
p{
    padding: 10px 0px 0px 30px;
  }
   span{
    padding: 40px 0px 0px 30px;
   font-size: 18px;
   }
}