.category-img{
    background: url("../../assest/images/c-home.jpg");
    height: 200px;
    text-align: center;
    color: white;
    position: relative;
  .img-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h2{
        color: white;
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
  }
}
.categories{
    h4{
        font-weight: bold;
   
    }
    li{
list-style: none;
padding: 6px 0px;
font-size: 18px;
    }
}
.product {
    a{
    color: #555555;
    transition: 0.3s;
    font-size: 18px;
    }
    span{
        color: #555555;

    }
    a:hover{
        color: #e65540;
        transition: 0.3s;
    }
}
.categories-data{
padding: 0;
margin: 0;
}
.filters{
    h4{
        font-weight: bold;
    }
    p{
        font-size: 22px;
        color: #555555;
    }
    .m-text{
     border: 1px solid #e1e1e1;
     width: 80%;
}
}
.form-select {
    width: 80% !important;
}
.form-select-sm {
padding-left: 4.0rem !important;
font-size: 18px !important;
    
}